body {
  font-family: 'Roboto', sans-serif
  font-size: 16px;                   
  color: #333;                       
  line-height: 1.6;                 
  background-color: #f4f4f4;        
  margin: 0;
  padding: 20px;                     
}

p {
  font-family: 'Roboto', sans-serif
  margin: 0;
  padding: 0;
  line-height: 1.6;  
  font-size: 16px;   
  color: #4A4A4A;    
  text-align: justify; 
}

h1, h2 {
    font-size: 16pt; 
    color: #222222;
}

h3, h4 {
    font-size: 14pt; 
    color: #007BFF;
}